# This is an example of local configuration file that you want to
# use if you're not an OONI developer to disable private stuff.

repositories=(
	git@github.com:whilesmart/trakli-webservice
	git@github.com:whilesmart/trakli-ui
	git@github.com:whilesmart/trakli-mobile
)